.grade-modulos{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);

  }

  .grid-posts{
    grid-template-columns: repeat(3,1fr);
  }



@media screen and (min-width: 1250px){
    .row{
        float: center; 
        width: 85%;
    }

    #serv-tile{
        grid-template-columns: repeat(4,1fr);
    }

    .slide-in .pointer{
        top: 25%;
    }

    .intro-title{
        font-size: 39px;

    }

    .intro-snippet{
        font-size: 17px;

    }

    intro-title a{
        margin: 0;

    }

    .intro-content{
        row-gap: 24px;

    }
}
