.slide-in{
width: 100%;
}

.slide-in .pointer{
top: -1%;
}


.grade-diferenciais{
grid-template-columns: 100%;
grid-template-rows: none;
}

.diferenciais{
text-align: center;
font-size: 16px;
}

.grade-modulos{
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(5, 6fr);
}

.main-slider .post-title {
    font-size: 18px;
}
.grid-posts {
    grid-template-columns: 1fr;
}
