 .slide-in {
        width: 100%;
    }


    #bt-clientes, #bt-vendas {
        display: none;
    }

    #bt-ambos {
        display: flex;
    }

    .widget-content {
        padding: 0px;
    }

    .row {
        width: 100%
    }

    .row-primeira-cor {
        width: 100%
    }

    .row-segunda-cor {
        width: 100%
    }


    #header-wrap, .home #header-wrap, .item #header-wrap, #intro-author-wrap .container, #serv-tile-wrap .container, #contact-area > .container, #footer-copyright > .container, #top-bar .container, .counter-box .container, .featured-posts, #testimonial-wrap .container, #brand-services-wrap .container, #editorial-wrap .container, .project-head {
        box-sizing: border-box;
        padding: 0 20px
    }

    #slider-section {
        padding: 0 20px;
        box-sizing: border-box;
    }

    #intro-services-wrap {
        box-sizing: border-box;
        padding: 80px 20px
    }

    .counter-box {
        padding: 0px 0;
    }

    .counter-box-wrap, .counter-title {
        border-radius: 0;
    }

    #main-menu, #parallax-menu, .home #parallax-menu, #principal-menu {
        display: none
    }

    .mobile-menu-wrap, .scrolling-mobile-menu-wrap, .mobile-menu-toggle, .home .scrolling-mobile-menu-toggle {
        display: block
    }

    .intro-image {
        width: 100%;
        max-width: 540px;
        flex: 100%;
        margin: 0 auto;
        display: none;
    }

    .intro-content {
        width: 88%;
        height: 88%;
        max-width: 100%;
        flex: 100%;
        margin: 0 5px 50px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .botoes-inicio {
        display: grid;
        flex-wrap: wrap;
        width: 100%;
    }

    .intro-action a, .bt-02 a {
        width: 100%;
        margin: 0;
    }

    #main-intro {
        padding-top: 55px;
        height: fit-content;
    }


    .widget-content {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px
    }

    .titulos-inicio {
        font-size: 30px;
        line-height: 1.35;
    }

    .head-text .widget-content {
        display: block;
        flex-direction: inherit;
    }

    #main-intro .container {
        margin: 60px auto;
    }

    .intro-image {
        padding: 0 56px;
    }

    .counter-box-item {
        width: 50%;
    }

    .faq-toggle {
        background-attachment: inherit;
    }

    #content-wrapper > .container {
        margin: 0
    }

    .grid-posts {
        grid-template-columns: repeat(2,1fr);
    }

    .item #main-wrapper, #sidebar-wrapper {
        width: 100%;
        padding: 0
    }

    #brand-services-wrap li {
        width: calc(100% / 3);
        margin-bottom: 30px;
    }

    .counter-box-info, .counter-box-image {
        width: 100%;
        padding: 0;
    }

    .counter-box-image {
        margin-bottom: 20px;
    }

    .counter-image-wrap, .counter-image-wrap .widget, .counter-image-wrap .widget-content, .counter-image-wrap .counter-content {
        min-height: 307px;
        max-height: 307px;
    }

    .editorial-authors .widget .editorial-avatar-wrap .editorial-avatar {
        height: 310px;
    }

    #author-email-pic {
        display: block;
        position: absolute;
        right: 0;
        z-index: 1;
        bottom: 0;
        opacity: 0.7;
    }

    .top-bar-social {
        width: 100%;
        z-index: 9;
        padding: 25px 0;
    }

    .grade-modulos {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 6fr);
    }

    #serv-tile {
        grid-template-columns: repeat(2,1fr);
    }
