.grade-produtos{
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 1fr);
}

@media screen and (min-width: 1000px) {
    .grade-diferenciais{
        grid-template-columns: 10% 90%;
    }

    .diferenciais{
        text-align: left;
    }

    }
}