#parallax-menu{
  display: none;
  visibility: hidden;
}

#principal-menu{
  display: none;
  visibility: hidden;
}

.intro-image{
  display: none;
  visibility: hidden;
}

.intro-content{
  max-width: 100%;
  flex: 0 0 100%;
}

.intro-title{
  font-size: 30px;
}

.intro-action a{
  margin: 15px 0 0;
  width: 100%
}

.bt-vamos-comecar a{
  margin: 2px 0 0;
  width: 100%
}

.intro-snippet{
  font-size: 15px;
}

.slide-in .pointer{
  top: 0%;
}

.botoes-inicio{
  display: grid;
}

#main-intro .widget{
  height: 75%;
}
